/* le aplico estilos a la pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    /*background-color: #a8a4a4;*/
    font-family: Arial, sans-serif;
    background-color: rgb(190, 190, 236);

}
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 10vh;
    background-color: #ffffff; 
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    background: linear-gradient(rgba(107, 100, 109, 0.719), rgb(145, 133, 138));
}
.contenedor-logo {
    width: 30%;
    height: 7vh;
}
.padre-img-logo {
    width: 15%;
    border-radius: 50%;
    
}
.titulo {
    width: 30%;
}
.logo {
    width: 100%;
    height: 100%;
}
.senasoft-logo{
    width: 30%;
    height: 7vh;
}
.senasoft {
    width: 100%;
    height: 100%;
}
.clasificacion {
    display: flex;
    width: 90%;
    height: 40vh;
    background-color: rgb(255, 255, 255); 
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(145, 133, 138), rgb(180, 159, 168));
}
.lado-izquierdo-1{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.titulo-clasificacion {
    margin-bottom: 25%;
}
#mostrar-img {
    /* background-color: aquamarine; */
    width: 50%;
    height: 35vh;
   
    /* background-color: aqua; */
}

.lado-izquierdo {
    width: 65%;
    display: flex;
    justify-content: space-evenly;
}
.lado-derecho {
    width: 35%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}
#resultado-clasificacion {
    text-align: center;
    font-size: 40px;

}

.imagen {
    width: 100%;
    height: 100%;
}
#estilo-boton {
    height: 5vh;
    width: 40%;
    border-radius: 10px;
}
#estilo-boton:hover {
    background-color: #5cb421;
    transition: 0.6s;
    box-shadow: 0 4px 16px rgb(73, 77, 78);
}
#limpiar {
    height: 5vh;
    width: 40%;
    
    border-radius:10px;
}
#limpiar:hover {
    background-color: #e74040;
    transition: 0.4s;
    box-shadow: 0 4px 16px rgb(73, 77, 78);
}
.traducciones {
    width: 90%;
    height: 30vh;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    background: linear-gradient(rgba(180, 159, 168), rgb(218, 203, 209));
}

#results {
    width: 100%;
    height: 20vh
}
.padre-resultado {
    height: 10vh;
}
.botones {
    margin-top: 100px;
    display: flex;
    height: 5vh;
    width: 50%;
    justify-content: space-evenly;

}
#url-imagen {
    margin-top: 10%;
    opacity: 90%;
    padding: 0 4px;
    height: 4vh;
    width: 100%;
}
#img{
    opacity: 90%;
    height: 5vh;
}