/* le aplico estilos a la pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
    /* background-color: #a8a4a4; */
    font-family: Arial, sans-serif;
    /* background-color: rgb(190, 190, 236); */
    background-color: rgb(0, 0, 0);

}
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 10vh;
    background-color: #ffffff; 
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    /* background: linear-gradient(rgba(107, 100, 109, 0.719), rgb(145, 133, 138)); */
}
.main1 {
    height: auto;
    width: 100%;
    align-items: center;
}
.contenedor-logo {
    width: 20%;
    display: flex;
    justify-content: end;
}
.padre-img-logo {
    width: 22%;
    border-radius: 50%;
}

.titulo {
    width: 50%;
    text-align: center;
}
.logo {
    width: 100%;
    height: 100%;
    position: relative;

}
.senasoft-logo{
    width: 20%;
    height: 7vh;
}
.senasoft {
    width: 100%;
    height: 100%;
}
.clasificacion {
    display: flex;
    width: 90%;
    height: 40vh;
    background-color: rgb(255, 255, 255); 
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(rgba(145, 133, 138), rgb(180, 159, 168)); */
}
.lado-izquierdo-1{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

#mostrar-img {
    /* background-color: aquamarine; */
    width: 50%;
    height: 35vh;
   
    /* background-color: aqua; */
}

.lado-izquierdo {
    width: 65%;
    display: flex;
    justify-content: space-evenly;
}
.lado-derecho {
    width: 35%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}
#resultado-clasificacion {
    text-align: center;
    font-size: 40px;

}

.imagen {
    width: 100%;
    height: 100%;
}
#boton-enviar {
    height: 5vh;
    width: 40%;
    border-radius: 10px;
}
#boton-enviar:hover {
    background-color: #5cb421;
    transition: 0.4s;
    box-shadow: 0 4px 16px rgb(73, 77, 78);
}
#limpiar {
    height: 5vh;
    width: 40%;
    
    border-radius:10px;
}
#limpiar:hover {
    background-color: #e74040;
    transition: 0.4s;
    box-shadow: 0 4px 16px rgb(73, 77, 78);
}
.traducciones {
    width: 90%;
    height: 30vh;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    /* background: linear-gradient(rgba(180, 159, 168), rgb(218, 203, 209)); */
}

#results {
    width: 100%;
    height: 20vh
}
.padre-resultado {
    height: 10vh;
}
.botones {
    margin-top: 100px;
    display: flex;
    height: 5vh;
    width: 50%;
    justify-content: space-evenly;

}
#url-imagen {
    margin-top: 10%;
    opacity: 90%;
    padding: 0 4px;
    height: 4vh;
    width: 100%;
}
#img{
    opacity: 90%;
    height: 5vh;
}
.izquierda-traduccion {
    width: 45%;

}
.derecha-traduccion {
    width: 45%;
}
.padre-play {
    width: 20%;
    height: 8vh;    

}
.logo-play {    
    width: 60%;
}
.img-play {
    width: 100%;
    height: 100%;
}
#boton-play {
    height: 5vh;
    width: 100%;
    border-radius: 10px;
}
.contenedor-boton-play {
    display: flex;
    margin-top: 4%;
} 
#boton-play:hover {
    background-color: #5cb421;
    transition: 0.4s;
    box-shadow: 0 4px 16px rgb(73, 77, 78);
}
.detector-objetos {
    width: 90%;
    height: 90vh;
    background-color: #ffffff;
    text-align: center;
}
.contenido-objetos {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
}
.titulo-objetos {
    margin-top: 20px;
}
.contenedor {
    height: 70vh;
    width: 30%;
    border-top: 2px solid #333; 
    border-right: 1px dotted #555; 
    border-bottom: 3px solid #777; 
    border-left: 1px dotted #999;


}
#img-1{
    margin-top: 20px;
}
#img-2{
    margin-top: 20px;
}
#img-3{
    margin-top: 20px;
}
#padre-img-objeto-1 {
    width: 100%;
    height: 60%;
}
#padre-img-objeto-2 {
    width: 100%;
    height: 60%;
}
#padre-img-objeto-3 {
    width: 100%;
    height: 60%;
}
#url-imagen-1 {
    margin-top: 3%;
    opacity: 90%;
    padding: 0 4px;
    height: 3vh;
    width: 75%;

}
#url-imagen-2 {
    margin-top: 3%;
    opacity: 90%;
    padding: 0 4px;
    height: 3vh;
    width: 75%;
}
#url-imagen-3 {
    margin-top: 3%;
    opacity: 90%;
    padding: 0 4px;
    height: 3vh;
    width: 75%;
}
.imagen-objetos {
    width: 100%;
    height: 100%;
}
#eliminar-objeto-1 {
    display: block;
    height: 5vh;
    width: 20%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
}
#eliminar-objeto-2 {
    display: block;
    margin: 0 auto;
    height: 5vh;
    border-radius: 10px;
    width: 20%;
    margin-top: 10px;
}
#eliminar-objeto-3 {
    display: block;
    margin: 0 auto;
    height: 5vh;
    width: 20%;
    border-radius: 10px;
    margin-top: 10px;
}
#eliminar-objeto-1:hover {
    background-color: #e74040;
    transition: 0.4s;
    box-shadow: 0 4px 16px rgb(73, 77, 78);
}
#eliminar-objeto-2:hover {
    background-color: #e74040;
    transition: 0.4s;
    box-shadow: 0 4px 16px rgb(73, 77, 78);
}
#eliminar-objeto-3:hover {
    background-color: #e74040;
    transition: 0.4s;
    box-shadow: 0 4px 16px rgb(73, 77, 78);
}
#enviar-objeto-1, #enviar-objeto-2, #enviar-objeto-3 {
    height: 5vh;
    width: 20%;
    border-radius: 10px;
    margin-top: 10px;
}
#enviar-objeto-1:hover {
    background-color: #5cb421;
    transition: 0.4s;
    box-shadow: 0 4px 16px rgb(73, 77, 78);
}
#enviar-objeto-2:hover {
    background-color: #5cb421;
    transition: 0.4s;
    box-shadow: 0 4px 16px rgb(73, 77, 78);
}
#enviar-objeto-3:hover {
    background-color: #5cb421;
    transition: 0.4s;
    box-shadow: 0 4px 16px rgb(73, 77, 78);
}
